.options {
  display: block;
  background: $white;
  border: $gutter solid $white;
  border-top-width: $gutter/2;
  border-bottom: 0;

  counter-reset: option;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    padding: $gutter;
    padding-right: 0;
    border-bottom: 0.2rem solid $black;
  }

  &__title {
    margin: 0;
  }

  &__placeholder {
    text-align: center;
    margin: 0;
    padding: $gutter * 2 0;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $medium-grey;
    padding: $gutter;
    padding-right: 0;
    word-break: break-all;
    &:last-of-type {
      border-bottom: 0;
    }
  }

  &__text {
    &:before {
      counter-increment: option;
      content: counter(option) ' ';
    }
  }
}
