html {
  font-size: 62.5%;
}
body {
  font-family: 'Courier New', Courier, monospace;
  font-size: $base-font;
  color: $black;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: $base-font * 1.75;
}

h2 {
  font-size: $base-font * 1.5;
}
