// Color

$black: #000;
$dark-grey: #333;
$medium-grey: #666;
$light-grey: #999;
$white: #fff;
$off-white: #dedede;
$yellow: yellow;
$green: lime;
$purple: purple;
$blue: turquoise;

// Font sizing
$base-font: 1.6rem;

// Spacing
$gutter: 1.6rem;
$desktop-breakpoint: 45rem;
